@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #0f172a, rgb(35, 19, 129));
}



.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(42, 0, 139);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(42, 0, 139);
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1c0069;
}
